nav {
    position: relative;
    width: 100vw;
    background-color: #ffffff;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    color: #222222;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #222222;
    font-size: larger;
}

a:hover {
    color: #ffd728;
    font-weight: bolder;
}

a.active {
    color: #0b6dff;
    font-weight: bolder;
}

