nav {
    position: relative;
    width: 100vw;
    background-color: #ffffff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    color: #222222;
    height: 70px;
    padding: 20px 36px;
    box-shadow: 0px 3px 7.5px #c6b0cb;
}

a {
    text-decoration: none;
    color: #222222;
    font-size: larger;
}

a:hover {
    color: #c6b0cb;
    font-weight: bolder;
}

a.active {
    color: #90D1F1;
    font-weight: bolder;
}

