.cloud-image {
    z-index: -1;
    position: relative;
    height: 100vh;
    width: 103vw;
    margin: -10px;
}

.home-div {
    width: 700px;
    height: 190px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.home-h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 5px #1a161b;
    font-weight: 700;
    margin-bottom: -80px;
    -webkit-text-stroke: 4px white;
    letter-spacing: 2.5px;
}

.home-p {
    margin-top: 100px;
    font-size: larger;
}

.transparent {
    background-color: rgba(240, 248, 255, 0.37);
    padding: 35px;
    font-size: 17px;
}
