.cloud-image {
    z-index: -1;
    position: relative;
    height: 100vh;
    width: 103vw;
    margin: -10px;
}

.home-div {
    width: 700px;
    height: 350px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.home-h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px #1a161b;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: -80px;
    word-spacing: 10px;
    letter-spacing: 4px;
}

.oo {
    font-size: 110px;
    display: inline;
    font-family: pacifico, sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    text-shadow: 1px 1px 2.5px #000000;
    position: relative;
    top: 3.5px;
}
